:root {
  --multiselect-height: 30px;
  --item-padding-leftright: 5px;
  --item-background-color: #FFFFFF;
}
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

.multi-select {
  display: flex;
  height: var(--multiselect-height);
  border: 1px solid grey;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--item-background-color);
}
.multi-select__item {
  /* container */
  height: var(--multiselect-height);
  width: auto;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  border-right: 1px solid grey;
}
.multi-select__item:last-child {
  /* remove right border on last child
  to prevent double up with container border */
  border: none;
}
.item__checkbox {
  /* make default input see through */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: none;
  user-select: none;
}
.item__checkbox:checked + .item__label {
  /* font-weight: bold; */
  background-color: #e6e6e6;
  color: #0077EE;
}
.item__label {
  display: block;
  height: 100%;
  padding: 0 var(--item-padding-leftright);
  box-sizing: border-box;
  /* matching line height to height for center center day labels */
  line-height: var(--multiselect-height);
  text-align: center;
  /* prevent label text from being hightlighted */
  user-select: none;
}